<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <span class="navbar-brand mb-0 h1">AdventureRooms</span>
  
  <ul class="navbar-nav">
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
              Room 1
          </a>
          <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Room 1</a>
              <a class="dropdown-item" href="#">Room 2</a>
              <a class="dropdown-item" href="#">Room 3</a>
          </div>
      </li>
  </ul>

  <div class="card ml-auto">
      <div class="card-body" style="width: 20rem;">
          Timer Controls
      </div>
  </div>
</nav>