<h4>Clients</h4>

<div class="card mb-2 p-2 border-default" *ngFor="let client of clients[selectedRoom]">
  <div class="row">
    <div class="col-3">
      <div class="card sq media" style="background-image: url(https://source.unsplash.com/featured/)"></div>
    </div>
    <div class="col">
      <h6>{{client.clientname}}</h6>
      <h6 class="text-muted">Timer</h6>
      <div class="btn-toolbar btn-group-sm">
        <button type="button" class="btn btn-primary mr-1">Text</button>
        <button type="button" class="btn btn-secondary mr-1">Timer</button>
        <button type="button" class="btn btn-danger mr-1">Blank</button>
      </div>
    </div>
  </div>
</div>